
/* Estilos para el contenedor principal */
.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Estilo de fuente Comic Sans MS */
  }
  
  /* Estilos para el campo de entrada */
  .input-field {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para los mensajes */
  .message {
    font-size: 16px;
    margin-top: 10px;
  }
  
  /* Estilos para el mensaje para los compañeros */
  .companions-message {
    font-size: 16px;
    margin-top: 20px;
  }
  
  /* Estilos para la lista de compañeros */
  .companions-list {
    margin-top: 10px;
  }
  
  /* Estilos para los elementos de la lista de compañeros */
  .companions-list-item {
    list-style-type: none;
    margin-left: 0;
    padding: 5px 0;
  }
  